html{
    font-size: 15px;
    box-sizing:border-box;
    overflow-x:hidden
}
body{
   margin:0;
   font-family:"Open Sans", sans-serif;
   line-height: 1.5;
}

nav{
    width: 100%;
    height: 65px;
    background-color:#000000 !important;
}
nav p{
    font-family: "Open Sans", sans-serif;
    color: #222;
    font-size: 24px;
    line-height: 55px;
    float:left;
    padding: 0px 20px;
}
nav ul{
    float: left
}
nav ul li {
    float: left;
    list-style: none;
    position: relative;
}
nav ul li a {
    display: block; 
    font-family: "Open Sans", sans-serif;
    color: #222;
    font-size: 14px;
    padding:12px 7px;
    text-decoration: none;
}
nav ul li ul {
    display: block;
    position: absolute;
}

h1{
    font-size:36px;
    font-weight:400;
    margin:10px 0;
}
h2{
    font-size:30px;
    font-weight:400;
    margin:10px 0;
}
h3{
    font-size:24px;
    font-weight:400;
    margin:10px 0;
}
h4{
    font-size:20px;
    font-weight:400;
    margin:10px 0;
}
h5{
    font-size:18px;
    font-weight:400;
    margin:10px 0;
}
h6{
    font-size:16px;
    font-weight:400;
    margin:10px 0;
}
hr{
    border:0;
    border-top:1px 
    solid rgb(5, 5, 5);
    margin:20px 0
}
.less-thin-underline{
    border-bottom: 1px solid #000;
}
.light-grey{
    color:#000!important;
    background-color:#f1f1f1!important
}
.page{
    margin-left:auto;
    margin-right:auto;
    margin-top: 16px !important;
    max-width: 2000px;
    width: 100vw;
    display:flex;
    flex-direction: row;
}
.container{
    padding:0.01em 16px;
}
.container::after, .container::before{
    content: "";
    display:table;
    clear:both;
}
.row-padding{
    padding:0 8px;
}
.row-padding::after{
    content: "";
    display:table;
    clear:both;
}
.left-column{
    float:left;
    width:20%;
}
.right-column{
    float:right;
    width:80%;
}
.content{
    margin-left:auto;
    margin-right:auto;
}
.margin-top{
    margin-top: 16px !important;
}
.margin-bottom{
    margin-bottom: 16px !important;
}
.margin-right{
    margin-right: 16px !important;
}
.margin-left{
    margin-left: 16px !important;
}
.center{
    display:inline-block;
    width:auto;
    text-align: center!important;
}

.padding-16px{
    padding-top:16px!important;
    padding-bottom:16px!important
}

.white{
    color:#000!important;
    background-color:#fff!important
}
.text_grey{
    color:#757575!important;
}
.text-teal{
    margin-right: 1.5%; 
    color:#17C3B2!important
}
.teal-color{
    color:#17C3B2!important
}
.nice-blue{
    color:#094ae2!important
}
.small{
    font-size:12px !important;
}
.medium{
    font-size:15px !important;
}
.large{
    font-size:18px!important;
}
.xlarge{
    font-size:24px!important;
}
.xxlarge{
    font-size:36px!important;
}
.social-icon{
    margin-right: 0.4%; 
    color:#17C3B2!important
}
.display-container{
    position: relative;
}
.display-container:hover{
    display:block;
    display:inline-block;
}
.display-bottomleft{
    position:absolute;
    left:0;
    bottom:0;
}
.avatar{
    width: 80%;
}
.card{
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16);
    transition: 0.3s;
}
.footer{
    position:fixed;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    background-color:#17C3B2;
    color: white;
    text-align: center !important;
}
button {
 padding: 0.8em 1.8em;
 border: 2px solid #17C3B2;
 position: relative;
 overflow: hidden;
 background-color: transparent;
 text-align: center;
 text-transform: uppercase;
 font-size: 10px;
 transition: .3s;
 z-index: 1;
 font-family: inherit;
 color: #17C3B2;
}

button::before {
 content: '';
 width: 0;
 height: 300%;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%) rotate(45deg);
 background: #17C3B2;
 transition: .5s ease;
 display: block;
 z-index: -1;
}

button:hover::before {
 width: 105%;
}

button:hover {
 color: #111;
}
